<mat-dialog-content class="contain">
  <h1>Edit Evidence</h1>
  <h3>Title:</h3>
  <input matInput type="text"  [(ngModel)]="title_edit" />
  <h3>Image:</h3>
  <input matInput type="text"  [(ngModel)]="img_edit" />
  <h3>Description:</h3>
  <textarea matInput  [(ngModel)]="description_edit"></textarea>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Close</button>
  <button mat-button mat-dialog-close (click)="edit_evidence()">Edit</button>
</mat-dialog-actions>
<style>
  .contain{
    width: 250px;
  }
</style>
