<div>
  <h1>Profile of:</h1>
  <h1 class="name">{{name_postulant+" "+lastname_postulant}}</h1>
  <button mat-raised-button (click)="Open_dialog_invitation()">Invite</button>
  <mat-grid-list cols="4"rowHeight="4pc" >

    <mat-grid-tile  rowspan="5" colspan="2">
      <img src="{{img_postulant}}" width="450px" height="250px">
    </mat-grid-tile>
    <mat-grid-tile  rowspan="3" colspan="2">
      <p>
        {{description_postulant}}
      </p>

    </mat-grid-tile>
    <div>
      <mat-grid-tile colspan="2" rowspan="1">
        <h1>Specialties and experience</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1" *ngFor="let specialtyexp of specialtyexperience; let i = index">
        <div class="skills" >
          <button mat-raised-button >{{specialtyexp.specialty}}</button>
          <button mat-raised-button >{{specialtyexp.experience}}</button>
        </div>
      </mat-grid-tile>

    </div>
  </mat-grid-list>

  <mat-grid-list cols="4">
    <h1>Projects</h1>
    <mat-grid-tile colspan="2" *ngFor="let project of projects; let i = index">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
        </mat-card-header>
        <img src="{{project.imgProject}}" width="100%" height="100%" (click)="gotoItems(project.id)">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<style>
  .example-card {
    max-width: 450px;
    min-height: 200px;
  }
</style>
