<mat-grid-list cols="7" rowHeight="60rem">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="formulario">
      <h2>EasyJobs</h2>
      <h3>Register Company</h3>
      <h5>Name Company</h5>
      <input matInput type="text"  [(ngModel)]="nameCompany" />

      <h5>Email </h5>
      <input matInput type="text"  [(ngModel)]="email" />
      <h5>Password</h5>
      <input matInput type="password"  [(ngModel)]="password" />

      <h5>Description</h5>
      <input matInput type="text"  [(ngModel)]="description" />

      <h5>Profile Picture</h5>
      <input matInput type="text"  [(ngModel)]="profilePicture" />

      <button mat-raised-button color="primary" (click)="register()">Register</button>
      <button mat-raised-button color="primary" (click)="singIn()">Sign in</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
